<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>jsreport in asp.net</h1>                
            </div>
            
            <div class="list-group">
                <a class="list-group-item" target="_blank" href="/Home/Invoice">Pdf Invoice</a>
                <a class="list-group-item" target="_blank" href="/Home/InvoiceDownload">Pdf Invoice Download</a>
                <a class="list-group-item" target="_blank" href="/Home/InvoiceDebugLogs">Pdf Invoice Debug</a>
                <a class="list-group-item" target="_blank" href="/Home/InvoiceWithHeader">Pdf Invoice with header</a>
                <a class="list-group-item" target="_blank" href="/Home/Items">Invoice items in xlsx</a>
                <a class="list-group-item" target="_blank" href="/Home/ItemsExcelOnline">Invoice items in Excel Online</a>
            </div>
         </div>
    </body>
</html>